// Grid Container
.grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "aside-left main aside-right"
        "pagination pagination pagination"
        "footer footer footer";
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;

    .header {
        grid-area: header;
    }

    .aside-left {
        grid-area: aside-left;
        background-color: #f1f1f1;
    }

    .main-content {
        grid-area: main;
        background-color: #ffffff;
    }

    .aside-right {
        grid-area: aside-right;
        background-color: #f1f1f1;
    }

    .pagination-nav {
        grid-area: pagination;
    }

    .footer-actuales {
        grid-area: footer;
    }
}

.main-content{
    .contenedor-actuales{
        .menu-pages{
            .nav{
                background-color:#fafafa;
                .flex-sm-fill{
                    font-weight: 800;
                    color: #fbb031;
                    
                }
                .active{
                    background-color: #202128;
                }
        }
    }
}
}

.main-nav {
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;

        a {
            text-decoration: none;
        }
    }
}

.pagination {
    display: flex;
    justify-content: flex-end;
}


.contenedor-actuales {
    margin: 0 auto;
    width: 88vw;
}

.menu {
    padding: 10px;
    margin-bottom: 10px;
}
.Cards-actuales {
    .Camisetas-actuales {
        padding: 10px;
        margin: 10px;
        display: flex;
        justify-content: space-around;

        div {
            border: 1px solid black;
            width: 251px;
            height: 350px;
            text-align: center;
            margin: 15px;
            background-color: #ffffff;

            img {
                width: 250px;
                height: 250px;
            }
        }
    }
}

.card-body{
    background-color:#202128;
    .card-title{
        color:#ffd300;
    }
    .btn, .btn-primary{
        color:#fafafa;
        background-color: #fbb031;
        font-weight: 800;
        border-color: #fbb031;
    }
    .card-text{
        color: #fafafa;
    }
}