.aside-left,.aside-right{
    img{
        width: 90px;
        height: 800px;
        
    }
}
.grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "aside-left main aside-right"
        "pagination pagination pagination"
        "footer footer footer";
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;

    .header {
        grid-area: header;
    }

    .aside-left {
        grid-area: aside-left;
    }

    .main-content {
        grid-area: main;
        width: 88vw;

        .contenedor-retro {
            margin: 0 auto;
            width: 88vw;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;

            .menu-pages {
                padding: 10px;
                margin-bottom: 10px;
                .nav{
                    background-color:#202128;
                    .flex-sm-fill{
                        font-weight: 800;
                        color: #fafafa;
                        transition: background-color 0.3s ease, transform 0.3s ease;
                        &:hover {
                            background-color: #fbb031; 
                            transform: scale(1.05); 
                        }
                    }
                    .disabled{
                        color: #ffd300;
                    }
                        
                    }
                    .active{
                        background-color: #fbb031;
                    }
            }
            }

            .retro-items {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1rem;

                .card {
                    gap: 5px;
                }
            }
        }
    }

    .aside-right {
        grid-area: aside-right;
    }

    .pagination-nav {
        grid-area: pagination;
        .pagination{
            .page-item{
                a {
                    color: #fafafa;
                    background-color: #202128;
                    text-decoration: none;
                    padding: 10px 20px;
                    border-radius: 5px;
                    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
                
                    &:hover {
                        color: #202128; 
                        background-color: #fbb031; 
                        transform: scale(1.05); 
                        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
                    }
                }
            }
        }
    }

    footer {
        grid-area: footer;
    }


.anuncios {
    height: 50px;
    background-color: #202128;
}

.owl-container {
    margin-top: 30px;
}