.formulario {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.row {
    width: 70%;
    margin-left: 20px;
    margin-top: 40px;
}

.quiz {
    width: 700px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}